html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

[draggable] {
  user-select: none; /* Prevent Text Selection when grabing and dropping */
  cursor: grab;
}
